/* ////SUB sections BEGIN///////// */
.error_container{
  margin-top: 5rem;
  display: flex;
  align-items: center;
justify-content:center ;
height: 60vh;
 }
 .error_links{
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
 }





/* quote plus funnel UI feed back  from emailjs */


.success {
  display: block;
  color: green;
  text-align: center;
}
.noshow {
  display: none;
}

/* quote plus funnel UI feed back  from emailjs */ */

.footer {
  background-color: #7bb1e1;
}
.footer_group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer_subsection {
  max-width: 200px;
}
.footer_subsection h3 {
  padding: 5px 0 10px 0;
}
.footer_subsection li {
  padding: 3px;
}
.footer_divide {
  height: 2px;
  background: red;
}
.footer_social {
  text-align: center;
  margin-top: 20px;
}
.footer_socialitems {
  margin: 5px;
  padding: 5px;
}
.footer_socialitems a {
  margin: 5px;
  padding: 3px;
  transition: 0.5s;
}
.footer_socialitems a > .MuiSvgIcon-root {
  transition: 0.5s;
}
.footer_socialitems a > .MuiSvgIcon-root:hover {
  transform: translateY(-10px);
}

.copyright {
  display: flex;
  justify-content: center;
}
.copyright p {
  margin-right: 5px;
}
/*..................... debuggin  and other styling */
.fixed_link{
  position: fixed;
  right: -2.5rem;
  top: 50%;
  transform: rotate(90deg);
  cursor: pointer;
  background-color: green;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
}
.fixed_link a{
  color: #fff;

}
.mainsection_container,
.aboutcontext_container
{
  margin-top: 70px;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submainsection_container{
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
}

.submainsection_title{
  margin-bottom: 2rem;
  text-align: center;
}
.submainsection_items p{
  margin-bottom: 2rem;
}
.submainsection_list {
  display: table; 
  margin: 0 auto;
}
.submainsection_list > li ,
.description a,
.description_nft a
{
  border: 1px solid #dd840d;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  transition: 0.5s;
  width: 11rem;
}
.submainsection_list > li:hover ,
.description a:hover,
.description_nft a:hover
{
  background: #dd840d;
}
.submainsection_link{
  margin-top: 2rem;
  text-align: center;
}
.submainsection_link  a:hover {
  text-decoration: underline;
}
.mainsection_otherscontainer{
  margin: 2rem 1rem 0 1rem;
  position: relative;
}
.mainsub_items{
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.mainsub_items img,
.mainsub_otheritems img{
  width: 20rem;
  height: 15rem;
}
.mainsub_otheritems{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2rem 0 2rem;
  align-items: center;
}
.item_description h2,
.item_description_nft h2{
  margin-bottom: 2rem;
  font-size: 3rem;
}
.description{
  max-width: 15rem;
}
.item_description_nft{
  margin-left: 4rem;
}
.description h3,
.description_nft h3{
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-color: #dd840d;
}
.description p,
.description_nft p{
  line-height: 2rem;
  margin-bottom: 1rem;
}
.description_nft div{
  display: flex;
}
.description_nft div >p{
  margin: 0.5rem 0.2rem;
}
.nft img{
  margin-top: 3rem;
  border-radius: 1rem;
}
.displayPrice{
  margin-left: 1rem;
  outline: none;
  border: 1px solid #dd840d;
  background-color: #dd840d;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
}
.displayPrice:hover{
  background-color: #fff;
  color: #000;
}

/* content fancy tabs */
.fancy_tabs{
  display: flex;
  align-items: center;
}
.fancytab_show{
  display: none;
}
.fancytab_noshow{
  display: block;
  border-left: 2px solid green;
  padding: 0 1rem 1rem 2rem;
  margin-bottom: 1rem;
}
.fancylist_items{
  width: 100%;
  border-bottom: 1px solid gray;
}
.fancy_item{
  display: flex;
  padding: 1rem 0;
  margin: 0.5rem 0;
  justify-content: space-between;
  width: 100%;
}
.fancylist_container{
  margin: 0 1rem;
  width: 100%;
}
.fancytabs_image img{
  width: 20rem;
  border-radius: 1rem;
}
.content_margin{
  margin: 6rem 0 ;
}
/* content fancy tabs ..........................*/
/* SEO pricing styling */
.seopricing_content{
  margin: 5rem;
}
.seopricing_content h2{
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
.seolabel,
.seo_top{
  display: flex;
  justify-content: space-between;
}
.seotop_left{
  background:#f7f7f7 ;
  padding: 2rem;
  border-radius: .5rem;
  flex: 0.8;
}
.seotop_left h2{
  margin-bottom: 2rem;
  font-size: 2rem;
}
.seotop_left p{
  line-height: 2rem;
  margin-top: 1.5rem;
}
.seolabel{
  margin-bottom: 2rem;
}
.seolabel p{
  margin: 0 1rem;
}
.seolabel_orange{
  border:6px solid #dd840d;
  border-radius: 50%;
}
.seolabel_green{
  border:6px solid green;
  border-radius: 50%;
}
.pie_one{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 0 auto;
  background-image: conic-gradient(#dd840d 87%, green 13%);
}
.priceelement_header{
  background:#f7f7f7 ;
  margin: 3rem 0 ;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}
.priceelement_header h3{
  margin: 2rem 0;
}
.prices_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.priceelement{
  background:#f7f7f7 ;
  padding: 3rem 1rem 1rem 1rem;
  margin: 0 1em;
  border-radius: 1rem;
  position: relative;
  text-align: center;
  display: inline-block;


}
.price_sticker {
  position: absolute;
  top: 1em;
  left: 0;
  margin-left: -.5em;
  z-index: 1;
  display: inline-block;
  padding: .25em 1em;
  background: green none repeat scroll 0% 0%;
  color: #FFF;
  font: 1em "FBold", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  white-space: nowrap;
}
.price_sticker:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 0 .5em .5em 0;
  border-color: transparent #f00 transparent transparent;
}
.priceelement  h1{
  font-size: 3rem;
  color: #dd840d;

}
.priceelement_li{
  margin: 1rem 0;
  border-bottom: 1px solid gray;
  padding: 1rem 0;
}
.priceelement_li span{
  font-style: bold;
  font-size: 1.5rem;
}
.priceelement button{
  outline: none;
  border: 2px solid #dd840d;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #dd840d;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 1.3rem;
}
.priceelement button:hover{
  background-color: aliceblue;
  color: #212238;
}
.otherseo_services{
  margin: 4rem 2rem 0 2rem;
}
.seoFaq_header{
  padding: 1rem;
  text-align: center;
}
.seoFaq_header h2{
  font-size: 2rem;
}
.seoFaq_header p{
  margin: 2rem 1.5rem ;
  line-height: 1.8rem;

}
.faqs_red,
.faqs_blue,
.faqs_yellow{
  padding: 1rem;
  color: #f7f7f7;
  font-size: 1.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.faqs_red{
  background-color: red;
}
.faqs_yellow{
  background-color: #dd840d;
}
.faqs_blue{
  background-color: blue;
}
.seoFaqs_item{
  border-radius: 1rem;
  background: #f7f7f7;
}
.seoFaqs_item p{
  margin: 1rem;
  line-height: 1.5rem;
}
.seoFaqs_content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
/* SEO pricing styling ........................*/
/* funnel form styling */
.funnel_form{
  background:#1abc9c ;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
}
.funnelform_container h4{
  text-align: center;
  margin: 2rem 0;
}
.funnelform_items{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.f_item{
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.f_item label{
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #f7f7f7;
}
.f_item input{
  padding:0.8rem 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.f_item button{
  margin-top: 1.5rem;
  padding: 0.8rem;
  background: #dd840d;
  border: 1px solid #dd840d;
  outline: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}
.f_item button:hover{
  background: #f7f7f7;
  color: #212238;
}
.funnelform_newsletter p{
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.funnelform_checkboxes input{
  margin: 0 1rem;
}
.funnel_feedback{
  width: 100%;
  height: 5rem;
  background: #f7f7f7;
  border-radius: 1rem;
  padding: 1.2rem;
  text-align: center;
}
.funnel_feedback button{
  color: #fff;
  padding: 0.2rem 0.8rem;
  background-color: red;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 1rem;
}
/* funnel form styling */


/*..................... debuggin  and other styling */

/* ABout us section styles............................. */
.about_buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.about_buttons a {
  margin: 10px;
  padding: 10px;
  background-color: #d1de64c4;
  border-radius: 5px;
  transition: 0.5s;
  width: 180px;
  text-align: center;
}
.about_buttons a:hover {
  background: red;
  transform: translateX(-10px);
}
.about_section{
  margin: 2rem 1rem 0 1rem;
}
.section_contents
{
  display: flex;
}
.section_item{
  max-width: 30rem;
}
.section_itemtwo{
  margin-left: 11rem;
  max-width: 30rem;
}
.section_item span {
  margin-left: 1rem;
}
.section_itemtwo h2{
  color: #212238;
  letter-spacing: 0.1rem;
  margin: 1rem 0 2rem 0;
  font-size: 1.8rem;
}
.section_itemtwo p{
  line-height: 3rem;
  font-size: 1.2rem;
}
.oswald_font{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 6rem;
  color: #dd840d;
}
.aboutcontext_staff{
  display: flex;
  justify-content: center;
}
.section_whoweare{
  display: flex;
  padding: 3rem 1rem;
  margin-top: 4rem;
  border: 1px solid gray;
  border-radius: 1rem;
  justify-content: space-between;
}
.headin_span{
  color:#dd840d;
}
.section_whoweare img{
  border-radius: 1rem;
  width: 25rem;
}
.who_weare h2{
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 2rem;

}
.who_weare p{
  line-height: 3rem;
  max-width: 40rem;
  margin-bottom: .5rem;
}
.staff_container{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin: 2rem 0 0 4rem;
}
.who_weare a{
  border: 1px solid #dd840d; 
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;

}
.who_weare a:hover{
  background-color: #dd840d; 
  color: #fff;

}
.user_image{
  /* border: 4px solid aliceblue; */
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 50%;
  margin-left: -1.9em;
}
.image1{
  z-index: 1;
}
.image2{
  z-index: 2;
}
.image3{
  z-index: 3;
}
.image4{
  z-index: 4;
}
.div1{
  background-color: #212238;
}
.div2{
  background-color: #dd840d;
}
.div3{
  background-color: #fae1d4;
}
.div4{
  background-color: #fdb0aa;
}
.div5{
  background-color: #f2481b;
}

/* ABout us section styles..END........................... */
@media (max-width: 768px) {
  /*....................... about section mobile */
  .section_contents,
  .section_whoweare,
  .aboutcontext_staff{
    flex-direction: column;
  }
  .section_whoweare img{
    width: 22rem;
  }
  .section_itemtwo{
    margin: 1rem 0 0 0;
  }
  .who_weare h2{
    font-size: 3.5rem;
  }
  .who_weare{
    margin-bottom: 1rem;
  }
   /*....................... about section mobile */

   /* ...............debugging and others styling */
  .submainsection_container{
    margin: 0 1rem;
  }
  .mainsub_items,
  .mainsub_otheritems,
   .seo_top,
  .seolabel,
  .fancy_tabs,
  .funnelform_items{
    flex-direction: column;
  }
  .item_description_nft{
    margin: 0;
  }
  .item_description h2,
  .item_description_nft h2{
    font-size: 1.8rem;
  }
  .description_nft div{
    flex-direction: column;
    width: 100%;
  }

/* seo pricing styling ........................*/
  .seopricing_content{
    margin: 2rem 1rem 0 1rem;
  }
  .seotop_left{
    margin-bottom: 1rem;
  }
  .seolabel p{
    margin: 1rem 0;
  }
  .prices_container,
  .seoFaqs_content{
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

 





/* seo pricing styling ........................*/


      /* ...............debugging and others styling */


  .footer_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 280px;
  }
  .footer_subsection {
    margin: 3px;
    padding: 2px;
    text-align: center;
  }
  .sub a {
    font-size: 15px;
    color: rebeccapurple;
  }
  .copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
  }
}
