.blog_container {
  margin-top: 5rem;
}
.blogSubheader {
  background-color: green;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: #fff;
  justify-content: space-between;
}
.blogSubheader span {
  color: #fff;
}
.social_media ul{
  display: flex;
}
.social_media ul li{
  color: #fff;
  margin: 0 1rem;

}

.header {
  display: flex;


}
.blog_textcontent h2 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.side_backdrop{
  margin: 0 1rem;
}
.new_list > h2{
  margin-bottom: 1rem;
}
.stories_list li{
  padding: 1.5rem 0;
  border-top:1px solid  gray ;

}
.list_item h4{
  margin-bottom: 0.5rem;
  letter-spacing: 0.6rem;
}
.blog_image img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.blog_sectionContent {
  margin: 5px;
}
.blog_sectionContent > h3 {
  text-align: center;
}
.blog_description {
  background: "#7B8487";
}
.blog_app {
  padding: 1rem;
 
}
.blog_created {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  color: #fff;
  margin: 5px;
  font-size: 8px;
}
.blog_created > p {
  margin: 5px;
}


.blog_sectionArena {
  display: flex;
  justify-content: center;
}
.blogItemList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.blogItemList_content {
  margin: 7px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.blogItemList_content img {
  width: 15rem;
  height: 15rem;
}
.blogItemList_content p {
  max-width: 200px;
  padding: 4px 0px;
}
.blogItemList_content h4 {
  max-width: 200px;
  margin: 5px 0px;
  padding: 5px 0px;
  text-align: center;
}
.blogItemlist_container {
  margin-top: 10%;
}
.blogItemlist_container h2 {
  text-align: center;
  margin: 5%;
  font-size: 2.5rem;
}
/* .imageBlog_overlay {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  border-radius: 5px;
} */
.blog_image > h4 {
  position: absolute;
  top: 50%;
  left: 30%;
  color: #fff;
}
.blog_image {
  position: relative;
}
@media (max-width: 768px) {
  .blogSubheader{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
  }
  .blog_sectionArena{
    flex-direction: column;
    align-items: center;

  }
  .blogItemList{
    grid-template-columns: 1fr;
  }
  .backdrop{
    height: 80vh;
  }
  .side_backdrop{
    margin-top: 2rem;
  }
  .news_list h2{
    padding: 1rem 0;
  }
  .stories_list{
    border-bottom: 1px solid gray;
  }
  .blog_gallery{
    margin-top:3rem ;
  }
}