.header_container{
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    background: #fff;
    opacity: 0.85;
    z-index: 1;
}
.header_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.header_menu a{
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0.1rem;
    flex-wrap: nowrap;
}
.header_rightmenu{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header_rightmenu a{
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0.1rem;
    flex-wrap: nowrap;

}
.header_profile{
    display: flex;
    align-items: center;

}
.header_profile span{
    font-size: 0.8rem;
    color: green;
}
.header_profile button{
    padding: 0 0.3rem;
    margin: 0 0.8rem;
    background: red;
    color: #fff;
    border: none;
    height: 25px;
    cursor: pointer;
    border-radius: 0.2rem;

}
.header_profile button:hover{
    background: transparent;
    color: green;
    border: 1px solid red;
}
.header_profile div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5rem;
}
.header_subprofile{
    position: absolute;
    top: 3rem;
    color: green;
    background: #fff;

}
.subprofile_ul{
    display: flex;
    flex-direction: column;
    color: green;
    margin-top: 2rem;
}
.subprofile_ul li{
    margin: 0.3rem;
    padding: 0.2rem;
}
.subprofile_ul li:hover{
    text-decoration: underline;
    color: green;
}
.header_wrapper{
    display: flex;
    justify-content: flex-end;
}
.header_burger{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 20rem;
    z-index: 10;
    padding: 4rem;
    /* display: flex; */
    flex-direction: column;
    text-align: start;
    transform: translateX(100%);
    transition: transform 0.2s;

}
@media (max-width: 768px){
    .header_menu{
        display: none;
    }
    .header_profile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}