.payment {
  margin-top: 4.5rem;
}
.payment h1{
    text-align: center;
    margin: 8rem 0 4rem 0;
}
.payment_container {
  display: flex;
  margin: 0 6rem;
  padding: 2rem;
  background: aliceblue;
  border-radius: 1rem;

}
.donations {
  /* background: #d1dbe4; */
  border: 1px solid #d1dbe4;
  flex: 0.2;
  padding: 1rem;
  border-top-right-radius: .2rem;
  border-top-left-radius: 0.2rem;
}
.donations  h2{
    text-align: center;
    margin: 1rem 0;
}
.text_container p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.donate_buttontext,
.cashapp {
  background-color: rgba(64, 187, 64, 0.74);
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  font-style: italic;
}
.cashapp span {
    color: yellow;
    margin-right: 0.4rem;
}

.donate_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.button {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.button form {
  display: flex;
  margin-top: 0.2rem;
}
.button button {
  padding: 0.5rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button input {
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  outline-color: green;
}
.payment_content {
  flex: 0.8;
}
.payment_subcontent {
  display: flex;
}
@media (max-width: 768px) {
    .payment_container{
        margin: .3rem;
        padding: 0.2rem;
        flex-direction: column;
    }
    .payment h1{
        margin: 6rem 0 2rem 0;
    }
    .payment_subcontent{
        flex-direction: column;
    }





}
