.payment {
  margin-top: 4.5rem;
}
.payment h1{
    text-align: center;
    margin: 4rem 0 2rem 0;
}
.payment_container {
  display: flex;
  margin: 0 6rem;
  padding: 2rem;
  background: aliceblue;
  border-radius: 1rem;
}
.donations {
  border: 1px solid #d1dbe4;
  padding: 1rem;
  border-top-right-radius: .2rem;
  border-top-left-radius: 0.2rem;
}
.donations  h2{
    text-align: center;
    margin: 1rem 0;
}
.text_container p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.donate_buttontext,
.cashapp {
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  font-style: italic;
  transition: 0.5s;
  
}
.cashapp{
  border: 1px solid gray;
}
.cashapp:hover{
  background-color: rgba(64, 187, 64, 0.74);

}
.cashapp a>span {
    margin-right: 0.4rem;
    color: black;
}

.donate_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button form {
  display: flex;
  margin-top: 0.2rem;
}
.button button {
  padding: 0.8rem;
  margin: 0 2rem 2rem 2rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button button:hover {
  background: gray;
  color: beige;
}
.button input {
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  outline-color: green;
}
@media (max-width: 768px) {
    .payment_container{
        margin: .3rem;
        padding: 0.2rem;
        flex-direction: column;
    }
    .payment h1{
        margin: 6rem 0 2rem 0;
    }
}
