.websites_container {
  margin-top: 4.5rem;
  position: relative;
}
.websites_contents header {
  height: 100vh;
  background: url("/assets/sdbnew3.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
.websites_subheader {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
}
.website_divider {
  height: 1px;
  background-color: #bebfc1;
}

.pricing_button > button
 {
  padding: 0.2rem 1.2rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1.3rem;
  background: green;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.pricing_button > button:hover 
{
  background: wheat;
  color: green;
  letter-spacing: 2px;
  border: 1px solid green;
}
.websites_subnav {
  background-color: #9fa3ac;
}
.website_ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.website_ul li > a {
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  background: #fff;
  cursor: pointer;
}
.website_ul li > a:hover {
  background: #028a36;
  color: #fff;
}
.websiteheader_content {
  padding-top: 5rem;
  max-width: 28rem;
  min-width: 17rem;
  margin-left: 1rem;
}
.fade_p {
  max-width: 20rem;
  line-height: 1.6rem;
}
.fade_h1 {
  font-size: 3rem;
}
.fade_p {
  color: #fff;
  margin-bottom: 0.5rem;
}
.fade_button {
  background-color: #028a36;
  padding: 0.8rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #fff;
  width: 80%;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.fade_button:hover {
  background-color: aliceblue;
  letter-spacing: 0.25rem;
  color: #282c34;
  transition: ease-in-out;
}
.mini_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 1rem 0;
}
.mini_header div {
  height: 2px;
  background-color: yellow;
  width: 1.6rem;
  margin: 0 0.9rem;
}
.sub_header {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.benefits_contents {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}
.benefit_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18rem;
  text-align: center;
}
.benefit_item img {
  width: 10rem;
  height: 10rem;
}
.benefit_item h5 {
  margin: 2rem 0;
}
.websiteother_main{
  margin-top: 5rem;
}
.right_items{
  margin: 2rem 0;
  padding: 1rem;
}
.right_items h2{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.rightitem_content{
  display: flex;
  align-items: center;
  border: 1px solid #bebfc1;
  padding: 0 1rem;
  border-radius: 1rem;
}
.rightitem_content p{
  line-height: 4rem;
}
.websites_services{
  margin-top: 5rem;
}
.websites_services h2{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.websitecard_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  row-gap: 5rem;
  margin-bottom: 6rem;
}
.websitecard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.websitecard h4{
  margin-bottom: 1rem;
  font-size: 2rem;
}
.websitecard p{
  max-width: 25rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5rem;
}
.card_image{
  width: 25rem;
}
.websitecard_button{
  opacity: 0;
  background: green;
  padding: 0.8rem 0;
  color: #fff;
  border-radius: 0.2rem;
  border: none;
  font-size: 1rem;
  width: 50%;
  position: absolute;
}
.websitecard_button:hover{
  opacity: 1;
}
.Websitecontent-left h3{
text-align: center;
margin-bottom: 3rem;
font-size: 3rem;
}
.websitecontentleft_img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.website_aboutme{
  padding: 1px;

}
.website_aboutme h2{
  text-align: center;
  margin: 2rem 0;

}
.aboutme_content{
  display: flex;
}
.image img{
  width: 25rem;
  height: 25rem;
}
.about_text{
  margin: 0 8rem;
}
.about_text h4{
  margin: 1rem 0;
  line-height: 2rem;
}
.about_text p{
  line-height: 2rem;

}
.acheivements{
  display: flex;
  margin: 1rem 0 1rem 2rem;
  align-items: center;
}
.acheivements ul >li{
  list-style: disc;
  color: #ffc600;
  line-height: 1rem;
}
.buttons{
  display: flex;
  width: 60%;
  margin-top: 2rem;
  justify-content: space-between;
}
.buttons > button{
  border: 2px solid #ffc600;
  padding: .8rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;

}
.buttons > button:hover{
  background: #ffc600;
  color: #fff;

}

@media (max-width: 768px) {
  .pricing_button > button {
    font-size: 0.7rem;
    padding: 0.2rem 0.3rem;
  }
  .websites_subheader {
    height: 40px;
  }
  .websites_subnav {
    display: none;
  }
  .fade_h1{
    font-size: 2.0rem;
    margin-bottom: 1rem;
  }
  .websiteheader_content{
    margin-left: 3rem;
    padding-top: 16rem;
  }
  .fade_p{
    color: black;
    margin: 0;
    font-size: 0.8rem;
  }
  .fade_button{
    width: 90%;
  }
  .sub_header{
    font-size: 2rem;
  }
  .mini_header{
    margin-bottom: 2rem;
  }
  .benefits_contents{
    flex-direction: column;
    align-items: center;
  }
  .benefit_item{
    margin-bottom: 3rem;
  }
  .benefit_item h5{
    margin: 0;
  }
  .benefit_item p{
    font-size: 0.7rem;
  }
  .websiteother_main{
    margin: 0;
  }
  .right_items h2{
    font-size: 1.8rem;
  }
  .rightitem_content p{
    line-height: 2rem;
    font-size: 0.9rem;
  }
  .rightitem_content{
    flex-direction: column;
  }
  .rightitem_content img {
    width: 20rem;
  }
  .websitecontentleft_img{
    grid-template-columns: 1fr 1fr;
  }
  .websitecard_container{
    grid-template-columns: 1fr;
  }
.card_image{
  width: 23rem;
}
.websitecard h4{
  font-size: 1.5rem;
}
.aboutme_content{
  flex-direction: column;
}
.image{
  width: 100%;
  text-align: center;

}
.image img{
  width: 50%;
  height: 50%;

}.about_text{
  margin: 1rem;
}.about_text p{
  font-size: .8rem;
}.buttons{
  width: 100%;
}

}