.academy-container{
    margin-top: 4.5rem;
}
.academy-li > button{
    border: none;
    outline: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.active_link{
    background: green;
    color: #eee;
}